---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-nfs-keycloak
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  nfs:
    server: "{{ nfs_server }}"
    path: "{{ nfs_path }}"
  claimRef:
    namespace: baselab
    name: keycloakdata-keycloak-0